.Nav {
  text-align: left;
  position: fixed;
  top: 0px;
  left: 0px;
}
.Nav-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Nav-logo {
    animation: Nav-logo-spin infinite 15s linear;
  }
}

.Nav-header {
  /* min-height: 100vh; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 1;
}

.rectangle {
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100%;
  background-color: #0a0a0a;
  z-index: 1;
}

.Nav-link {
  color: #61dafb;
}

@keyframes Nav-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home-link {
  text-decoration: none;
  color: white;
  position: fixed;
  top: 30px;
  left: 150px;
}

.Browse-link {
  text-decoration: none;
  color: white;
  position: fixed;
  top: 30px;
  left: 300px;
}

.My-courses-link {
  text-decoration: none;
  color: white;
  position: fixed;
  top: 30px;
  left: 466px;
}

button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
}

.Log-out {
  text-decoration: none;
  color: black;
  position: fixed;
  top: 20px;
  right: 50px;
}

.Log-out:hover {
  background-color: red;
  color: white;
}

.Log-out:focus {
  background-color: red;
  color: black;
}

/* Style the search box inside the navigation bar
.Search-bar {
  border: none;
  border-radius: 10px;
  font-size: 18px;
  position: fixed;
  top: 40px;
  right: 10px;
} */